on: [push, pull_request]

name: CI

env:
  CARGO_INCREMENTAL: 0

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - "1.91"
    steps:
      - name: Install development libraries
        run: sudo apt update && sudo apt install libasound2-dev -y

      - uses: actions/checkout@v4

      - name: Install toolchain
        run: rustup toolchain add ${{ matrix.rust }} && rustup default ${{ matrix.rust }}

      - run: cargo test
      - run: cargo test --all-features

      - run: cargo test --workspace --all-features
        if: matrix.rust == 'stable'

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Install development libraries
        run: sudo apt update && sudo apt install libasound2-dev -y

      - uses: actions/checkout@v4

      - run: cargo clippy --workspace -- -D warnings
      - run: cargo clippy --workspace --all-features -- -D warnings

  fmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: cargo fmt -- --check
